<%- if @image.errors.any? %>
<div class="alert alert-danger" role="alert">
	Ha ocurrido un error ¡parece que algunos de los campos están vacíos!
</div>
<% end %>
<div class="form-group">
	<%= form_for @image do |f| %>
	<div>
		<%= f.label 'Nombre' %>
		<%= f.text_field :name, class: 'form-control' %>
		<%- if @image.errors[:name].any? %>
		<span class="badge badge-danger">
			<%= @image.errors[:name].first %>
		</span>
		<% end %>
	</div>
	<div>
		<%= f.label 'Descripción' %>
		<%= f.text_field :description, class: 'form-control'%>
		<%- if @image.errors[:description].any? %>
		<span class="badge badge-danger">
			<%= @image.errors[:description].first %>
		</span>
		<% end %>
	</div>
	<div>
		<%= f.label 'Subir imagen' %><br>
		<%= f.file_field :picture %>
	</div>
	<br>
	<%= f.submit 'Enviar', :class => 'btn btn-primary'%>
	<% end %>
</div>